* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden; /* Menghilangkan scroll horizontal */
  /* scroll-behavior: smooth; */
}

/* Mengubah warna latar belakang dan warna teks untuk pilihan teks */
::selection {
  background-color: #ffeb3b; /* Warna kuning stabilo */
  color: #000000; /* Warna teks pilihan, bisa disesuaikan */
}

/* Mengubah warna latar belakang dan warna teks untuk pilihan teks di Mozilla Firefox */
::-moz-selection {
  background-color: #ffeb3b; /* Warna kuning stabilo */
  color: #000000; /* Warna teks pilihan, bisa disesuaikan */
}

/* CSS styling untuk cursor */
.cursor {
  position: fixed;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0); /* Ubah warna sesuai keinginan */
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.15s ease;
}

.particle {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9998;
  opacity: 0;
  animation: particleAnim 1s ease-out forwards;
}

@keyframes particleAnim {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.navbar-brand {
  font-weight: 600;
  font-size: 1rem;
}

.navbar-brand span {
  color: rgb(255, 247, 0);
  font-weight: 600;
  font-size: 1rem;
}

#navbarNav ul li a {
  color: white;
  transition: color 0.3s ease; /* Tambahkan transisi untuk efek perubahan warna */
}

#navbarNav ul li a:hover,
#navbarNav ul li a.active {
  color: yellow;
}

.navbar {
  display: flex;
  justify-content: center; /* Mengatur posisi menu navbar di tengah */
  background-color: #333; /* Warna latar belakang navbar */
  padding: 10px 0; /* Padding atas dan bawah */
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: white;
  padding: 10px 20px; /* Padding untuk ruang di sekitar teks */
  transition: color 0.3s ease; /* Transisi untuk perubahan warna teks */
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 9px;
  left: 50%;
  transform: translateX(-50%) scaleX(0); /* Mulai dari tengah dan tidak ada lebar awal */
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease, transform 0.3s ease; /* Animasi lebar dan transformasi */
}

.nav-link:hover::after,
.nav-link.active::after {
  transform: translateX(-50%) scaleX(1); /* Memperluas garis dari tengah ke kiri dan kanan */
  width: 100%; /* Penuh lebar saat selesai */
}

.jumbotron {
  padding-top: 7.5rem;
  background-color: #8dd7d8;
}

.jumbotron h1 {
  padding-top: 0.7rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.jumbotron p {
  font-weight: 400;
  font-size: 0.8rem;
}

#about {
  background-color: #d5e5e5;
}

#about h2,
#gallery h2,
#tweet h2,
#times h2,
#contact h2 {
  font-weight: 600;
  font-size: 1.5rem;
  font-style: italic;
}

#timelines .h2t {
  font-weight: 600;
  font-size: 1.5rem;
  font-style: italic;
  color: #34ffff;
}

#entertainment h2 {
  font-weight: 600;
  font-size: 1.5rem;
  font-style: italic;
  color: white;
}

#entertainment h2 span {
  color: rgb(255, 44, 44);
}

#about h2 span,
#gallery h2 span,
#tweet h2 span,
#times h2 span,
#contact h2 span {
  color: brown;
}

#timelines h2 span {
  color: yellow;
}

#about p,
#gallery p {
  font-size: 0.9rem;
}

#gallery {
  background-color: #96fefe;
}

#entertainment {
  background-color: #212121;
}

#tweet {
  background-color: #e3ecec;
}

#times {
  background-color: #ead8ff;
}

#timelines {
  background-color: #404b68;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.container-timeline {
  padding: 10px 50px;
  position: relative;
  width: 50%;
}

.text-box {
  padding: 20px 30px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.container-timeline img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 2; /* Nilai z-index yang lebih tinggi dari garis */
}

.right-container img {
  left: -20px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 1; /* Adjusted z-index */
}

.text-box h2 {
  font-weight: 500;
  font-size: larger;
}

.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #fff;
  right: -15px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fff;
  left: -15px;
}

/* Kartu tetap pada layout grid sampai 3 */
.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Mengizinkan pembungkusan baris */
}

.card {
  width: 280px;
  height: 360px;
  padding: 2rem 1rem;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 8px 5px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  margin: 0 15px 30px; /* Menambahkan margin bawah */
  border-radius: 5%;
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.384), rgba(0, 0, 0, 0.699), rgb(0, 0, 0));
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
  border-radius: 5%;
}

.card:hover:before {
  opacity: 1;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5%;
  /* transition: filter 0.3s ease; */
}

.card:hover img {
  filter: grayscale(100%);
}

.card .info {
  position: absolute; /* Mengubah posisi menjadi absolute */
  bottom: 30px; /* Meletakkan .info di bagian bawah */
  left: 10px; /* Meletakkan .info di kiri */
  right: 10px; /* Meletakkan .info di kanan */
  z-index: 3;
  color: #ffffff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.card .info h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
}

.card .info p {
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.card .info .btn-card {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 245, 48, 0);
  color: #fff530;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
  border: 1px solid #fff530;
}

.card .info .btn-card:hover {
  background-color: #fff530;
  color: white;
  box-shadow: 0 0 5px #fff530, 0 0 25px #fff530;
}

body.modal-open {
  overflow: hidden;
  padding-right: 0 !important; /* Menambahkan padding-right: 0 */
}

.disabled {
  pointer-events: none; /* Menonaktifkan klik */
  opacity: 0.6; /* Memberikan efek transparansi */
  cursor: not-allowed; /* Mengubah kursor saat tidak dapat di-klik */
}

.download-btn {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px; /* Adjust the gap between cards as needed */
}

.card-movie {
  width: 200px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  perspective: 2000px;
  cursor: pointer;
  border-radius: 20%;
  margin: 10px; /* Add margin to create space between cards */
}

.label-game {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(207, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  z-index: 2;
  transition: transform 0.5s;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapp-movie {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: black;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 20px, rgba(0, 0, 0, 0.22) 0px 7px 7px;
}

.card-movie:hover .wrapp-movie {
  transform: perspective(700px) translateY(-5%) rotateX(20deg) translateZ(0);
  box-shadow: 2px 25px 22px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 25px 22px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 25px 22px -8px rgba(0, 0, 0, 0.75);
}

.wrapp-movie::before,
.wrapp-movie::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 60px;
  transition: all 0.5s;
  border-radius: 20px;
  position: absolute;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 20px, rgba(0, 0, 0, 0.22) 0px 7px 7px;
}

.wrapp-movie::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgba(12, 13, 19) 97%);
}

.wrapp-movie::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(to bottom, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgba(12, 13, 19) 97%);
}

.wrapp-movie img {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 20px, rgba(0, 0, 0, 0.22) 0px 7px 7px;
}

.card-movie:hover .wrapp-movie::before,
.card-movie:hover .wrapp-movie::after {
  opacity: 1;
}

.card-movie:hover .wrapp-movie::after {
  height: 110%;
}

.logo {
  width: 80%;
  transition: transform 0.5s;
  position: absolute;
  bottom: 5px;
}

.card-movie:hover .logo {
  transform: translate3d(0%, -30px, 70px);
}

.card-movie:hover .cover-image {
  opacity: 0.3;
}

.character {
  width: 80%;
  opacity: 0;
  transition: all 0.5s;
  filter: drop-shadow(2px 2px 2px #000);
  position: absolute;
  z-index: -1;
}

.card-movie:hover .character {
  opacity: 1;
  transform: translate3d(5%, -20%, 470px);
}

.card-movie:hover .label-game {
  transform: perspective(700px) translateY(-5%) rotateX(20deg) translateZ(0);
}

.custom-card {
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: #ffffff; /* Warna latar belakang putih */
  margin-bottom: 20px; /* Menambahkan margin bawah antar card */
  height: auto; /* Tinggi tetap untuk setiap kartu */
  overflow: auto; /* Aktifkan overflow jika konten terlalu panjang */
}

.custom-header {
  background-color: #198754; /* Ubah sesuai dengan warna yang diinginkan */
  color: #ffffff; /* Warna teks */
}

.modal-body p {
  color: #000;
  font-weight: 400;
}

.modal-content {
  box-shadow: 16px 16px 12px 0 rgba(0, 0, 0, 0.5); /* Menambahkan bayangan */
}

.card-columns {
  column-count: 3;
}

.card-title {
  color: #141414; /* Warna teks judul kartu */
  font-size: 1em; /* Ukuran font judul kartu */
}

.card-text {
  color: #272727; /* Warna teks teks kartu */
  font-size: 0.9em; /* Ukuran font teks kartu */
}

/* CSS Kode Anda yang sudah diperbarui */

.my-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s ease; /* Transisi warna latar belakang */
  max-width: 400px; /* Lebar maksimum card */
  width: 90%; /* Sesuaikan lebar card dengan halaman */
  background-color: #fff;
  margin: 0 auto; /* Menengahkan card secara horizontal */
  cursor: pointer;
}

.my-card #jam {
  font-style: normal;
}

.my-button {
  background-color: #198754;
  color: #fff;
  border: 1px solid #0f4d30;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  animation: pulse 2s infinite; /* Animasi berdenyut */
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5); /* Transisi warna tombol */
  display: block;
  margin: 20px auto; /* Pusatkan tombol */
  width: 100%; /* Lebar 100% untuk responsivitas */
  max-width: 200px; /* Lebar maksimum tombol */
}

/* Animasi berdenyut */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.my-button:hover {
  background-color: #115133; /* Warna saat hover */
  animation: none;
}

.hidden-button {
  display: none; /* Tombol ini akan disembunyikan secara default */
  background-color: #ffb300; /* Warna latar belakang tombol */
  color: white; /* Warna teks tombol */
  border: 1px solid #9b6d00; /* Hapus border tombol */
  padding: 10px 20px; /* Padding tombol */
  text-align: center; /* Teks ditengah */
  text-decoration: none; /* Hapus garis bawah pada hover */
  font-size: 16px;
  margin-top: 10px; /* Jarak atas dari elemen sebelumnya */
  cursor: pointer; /* Kursor menunjukkan elemen dapat diklik */
  border-radius: 5px; /* Tambahkan sudut melengkung pada tombol */
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  position: relative; /* Posisi relatif untuk menggunakan pseudo-element */
  overflow: hidden; /* Sembunyikan elemen pseudo yang melampaui batas tombol */
}

/* Efek hover */
.hidden-button:hover {
  background-color: #ffcf5f; /* Ganti warna latar belakang tombol saat hover */
}

/* Pseudo-element untuk kilauan */
.hidden-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%; /* Awalnya berada di luar tombol */
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.6), transparent);
  transition: left 0.5s ease-in-out;
}

/* Efek kilauan saat hover */
.hidden-button:hover::before {
  left: 100%; /* Bergerak ke sisi kanan tombol */
}

/* Animasi transisi warna pada card */
@keyframes my-changeColor {
  0% {
    background-color: #fff;
  }
  25% {
    background-color: #e0ffff;
  }
  50% {
    background-color: #f0f8ff;
  }
  75% {
    background-color: #f5f5dc;
  }
  100% {
    background-color: #f0ffff;
  }
}

.my-animated {
  animation: my-changeColor 5s infinite; /* Transisi warna selama 5 detik, diulang tanpa henti */
}

#contact {
  background-color: #ddd3d3;
}

.custom-btn-width {
  width: 200px; /* Sesuaikan dengan lebar yang Anda inginkan */
  margin: 0 auto; /* Menengahkan tombol secara horizontal */
}

.btn {
  position: relative;
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-danger {
  background-color: #dc3545; /* Warna latar belakang tombol */
  color: white; /* Warna teks tombol */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(255, 255, 255, 0.1); /* Bayangan standar */
  border: 1px solid #781d26;
}

.btn-danger:hover {
  transform: translateY(2px); /* Memindahkan elemen sedikit ke dalam saat dihover */
  box-shadow: inset 0 8px 15px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(255, 255, 255, 0.1); /* Efek deboss saat dihover */
}

.btn-danger:active {
  transform: translateY(4px); /* Memindahkan elemen lebih dalam saat ditekan */
  box-shadow: inset 0 8px 15px rgba(0, 0, 0, 0.5), 0 4px 6px rgba(255, 255, 255, 0.1); /* Efek deboss lebih dalam saat ditekan */
}

.btn-danger:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top left, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  border-radius: 5px; /* Menyelaraskan dengan border-radius tombol */
  pointer-events: none; /* Mencegah interaksi dengan pseudo-element */
}

.btn-danger::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 8px;
  background: rgba(0, 0, 0, 0.2); /* Bayangan tambahan di bawah tombol */
  border-radius: 0 0 5px 5px; /* Menyelaraskan dengan border-radius tombol */
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Animasi transform dan box-shadow saat hover */
}

.btn-danger:hover::after {
  transform: translateY(-2px); /* Menyesuaikan bayangan tambahan saat dihover */
}

.btn-danger:active::after {
  transform: translateY(-4px); /* Menyesuaikan bayangan tambahan saat ditekan */
}

.spinner-border {
  animation-duration: 0.5s; /* Ubah durasi animasi menjadi 1 detik */
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bubble {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 35, 0.7);
  border-radius: 50%;
  pointer-events: none; /* Prevents bubbles from blocking clicks */
  animation: fadeInOut 0.4s linear;
  z-index: 20;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

#footer {
  background-color: #f7cbca;
}

footer p {
  font-size: 0.8rem;
}

footer a {
  text-decoration: none;
  font-size: 0.8rem;
}

section {
  padding-top: 5rem;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden; /* Pastikan ini diterapkan */
  }

  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    max-width: 400px;
    margin: 0 auto 30px; /* Menjadikan margin bawah tetap */
  }

  .timeline {
    margin: 50px auto;
  }

  .timeline::after {
    left: 31px;
  }

  .container-timeline {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .text-box {
    font-size: 13px;
  }

  .text-box small {
    margin-bottom: 10px;
  }

  .right-container {
    left: 0;
  }

  .left-container img,
  .right-container img {
    left: 10px;
  }

  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid #fff;
    border-left: 0;
    left: -15px;
  }
}

@media (max-width: 992px) {
  .card-columns {
    column-count: 2;
  }
}

@media (max-width: 576px) {
  .card-columns {
    column-count: 1;
  }

  .custom-card {
    margin-bottom: 20px; /* Menambahkan margin bawah antar card pada tampilan mobile */
  }
}
