* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  overflow-x: hidden; /* Menghilangkan scroll horizontal */
  /* scroll-behavior: smooth; */
}

.navbar-brand {
  font-weight: 600;
  font-size: 1rem;
}

.navbar-brand span {
  color: rgb(255, 247, 0);
  font-weight: 600;
  font-size: 1rem;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #8dd7d8;
}

.jumbotron h1 {
  padding-top: 0.7rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.jumbotron p {
  font-weight: 400;
  font-size: 0.9rem;
}

#about {
  background-color: #d5e5e5;
}

#about h2,
#gallery h2,
#tweet h2,
#times h2,
#contact h2 {
  font-weight: 600;
  font-size: 1.5rem;
  font-style: italic;
}

#about h2 span,
#gallery h2 span,
#tweet h2 span,
#times h2 span,
#contact h2 span {
  color: brown;
}

#about p,
#gallery p {
  font-size: 0.9rem;
}

#gallery {
  background-color: #f1f7f7;
}

#tweet {
  background-color: #e3ecec;
}

#times {
  background-color: #ead8ff;
}

/* Kartu tetap pada layout grid sampai 3 */
.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Mengizinkan pembungkusan baris */
}

.card {
  width: 280px;
  height: 360px;
  padding: 2rem 1rem;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  margin: 0 15px 30px; /* Menambahkan margin bawah */
  border-radius: 5%;
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 176, 155, 0.5), rgba(150, 201, 61, 1));
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
  border-radius: 5%;
}

.card:hover:before {
  opacity: 1;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5%;
}

.card .info {
  position: absolute; /* Mengubah posisi menjadi absolute */
  bottom: 30px; /* Meletakkan .info di bagian bawah */
  left: 10px; /* Meletakkan .info di kiri */
  right: 10px; /* Meletakkan .info di kanan */
  z-index: 3;
  color: #ffffff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.card .info h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
}

.card .info p {
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.card .info .btn-card {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}

.card .info .btn-card:hover {
  background-color: yellow;
}

body.modal-open {
  overflow: hidden;
  padding-right: 0 !important; /* Menambahkan padding-right: 0 */
}

.disabled {
  pointer-events: none; /* Menonaktifkan klik */
  opacity: 0.6; /* Memberikan efek transparansi */
  cursor: not-allowed; /* Mengubah kursor saat tidak dapat di-klik */
}

.download-btn {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
}

.download-btn button {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animasi transform dan box-shadow saat hover */
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5); /* Bayangan standar */
}

.download-btn button:hover {
  transform: scale(1.1); /* Memperbesar elemen saat dihover */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5); /* Meningkatkan bayangan saat dihover */
}

.custom-card {
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: #ffffff; /* Warna latar belakang putih */
  margin-bottom: 20px; /* Menambahkan margin bawah antar card */
  height: auto; /* Tinggi tetap untuk setiap kartu */
  overflow: auto; /* Aktifkan overflow jika konten terlalu panjang */
}

.custom-header {
  background-color: green; /* Ubah sesuai dengan warna yang diinginkan */
  color: #ffffff; /* Warna teks */
}

.modal-content {
  box-shadow: 16px 16px 12px 0 rgba(0, 0, 0, 0.5); /* Menambahkan bayangan */
}

.card-columns {
  column-count: 3;
}

.card-title {
  color: #141414; /* Warna teks judul kartu */
  font-size: 1em; /* Ukuran font judul kartu */
}

.card-text {
  color: #272727; /* Warna teks teks kartu */
  font-size: 0.9em; /* Ukuran font teks kartu */
}

/* CSS Kode Anda yang sudah diperbarui */

.my-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s ease; /* Transisi warna latar belakang */
  max-width: 400px; /* Lebar maksimum card */
  width: 90%; /* Sesuaikan lebar card dengan halaman */
  background-color: #fff;
  margin: 0 auto; /* Menengahkan card secara horizontal */
  cursor: pointer;
}

.my-card #jam {
  font-style: normal;
}

.my-button {
  background-color: #ffb300;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  animation: pulse 2s infinite; /* Animasi berdenyut */
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5); /* Transisi warna tombol */
  display: block;
  margin: 20px auto; /* Pusatkan tombol */
  width: 100%; /* Lebar 100% untuk responsivitas */
  max-width: 200px; /* Lebar maksimum tombol */
}

/* Animasi berdenyut */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.my-button:hover {
  background-color: #b38600; /* Warna saat hover */
  animation: none;
}

.hidden-button {
  display: none; /* tombol ini akan disembunyikan secara default */
  background-color: #4caf50; /* Warna latar belakang tombol */
  color: white; /* Warna teks tombol */
  border: none; /* Hapus border tombol */
  padding: 10px 20px; /* Padding tombol */
  text-align: center; /* Teks ditengah */
  text-decoration: none; /* Hapus garis bawah pada hover */

  font-size: 16px;
  margin-top: 10px; /* Jarak atas dari elemen sebelumnya */
  cursor: pointer; /* Kursor menunjukkan elemen dapat diklik */
  border-radius: 5px; /* Tambahkan sudut melengkung pada tombol */
}

/* Efek hover */
.hidden-button:hover {
  background-color: #45a049; /* Ganti warna latar belakang tombol saat hover */
}

/* Animasi transisi warna pada card */
@keyframes my-changeColor {
  0% {
    background-color: #fff;
  }
  25% {
    background-color: #e0ffff;
  }
  50% {
    background-color: #f0f8ff;
  }
  75% {
    background-color: #f5f5dc;
  }
  100% {
    background-color: #f0ffff;
  }
}

.my-animated {
  animation: my-changeColor 5s infinite; /* Transisi warna selama 5 detik, diulang tanpa henti */
}

#contact {
  background-color: #ddd3d3;
}

.custom-btn-width {
  width: 200px; /* Sesuaikan dengan lebar yang Anda inginkan */
  margin: 0 auto; /* Menengahkan tombol secara horizontal */
}

#btn-submit {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}

.spinner-border {
  animation-duration: 0.5s; /* Ubah durasi animasi menjadi 1 detik */
}

#footer {
  background-color: #f7cbca;
}

footer p {
  font-size: 0.8rem;
}

footer a {
  text-decoration: none;
  font-size: 0.8rem;
}

section {
  padding-top: 5rem;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    max-width: 400px;
    margin: 0 auto 30px; /* Menjadikan margin bawah tetap */
  }
}

@media (max-width: 992px) {
  .card-columns {
    column-count: 2;
  }
}

@media (max-width: 576px) {
  .card-columns {
    column-count: 1;
  }

  .custom-card {
    margin-bottom: 20px; /* Menambahkan margin bawah antar card pada tampilan mobile */
  }
}
